.icon {
  font-size: 12px !important;
}

.detail-rating {
  padding-left: 0;
}

.detail-rating li {
  display: inline;
  margin-right: 10px;
}

.detail-rating li p,
.info-room li span,
.descript-room span {
  border-bottom: 1px solid;
}

.info-room li div {
  margin-left: 10px;
}

.info-room .air-icon,
.translate-icon {
  height: 18px !important;
  font-size: 30px;
}

.descript-room .box-translate {
  height: 30px;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px;
}

.fa-icon {
  margin-bottom: 2px;
  margin-right: 8px;
}

.book-room .searchBar-input {
  border: 1px solid black !important;
  width: 100% !important;
}

.book-room .searchBar-input > h6 {
  font-size: 0.8rem;
  cursor: default;
  margin-left: -15px;
}

.book-room .searchBar-input input {
  text-align: center;
  cursor: pointer;
}

.select-box {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.upDownCount button:first-of-type {
  margin-right: 0;
}

.upDownCount h6 {
  margin-top: 9px;
  padding: 0 10px;
}
