.roomImage-container{
    display: flex;
    align-items: center;
}

.uploadIcon{
    display: flex;
    align-items: center;
    background: #1890ff;
    border-radius: 10px;
    border: none;
    padding: .2rem .5rem;
    margin-left: 10px;
    cursor: pointer;
    color: rgb(66, 63, 63) !important;
}

.css-10w63gk {
	width: 80% !important;
}
